<h2><%= '[' + @survey.id.to_s + '] ' + @survey.title %></h2>

<%= form_for ([@survey, @question]) do |f| %>
	<% if @question.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@question.errors.count, "error") %> prohibited this article from being saved: </h2>
		<ul>
			<% @question.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label :text %>
		<%= f.text_area :text %>
	</p>

	<%= f.submit %>
<% end %>